<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Mygento_Samplemodule::samplemodule" title="Samplemodule" translate="title">
                    <resource id="Mygento_Samplemodule::samplemodule_customeraddress" title="Samplemodule Customeraddress" translate="title"/>
                    <resource id="Mygento_Samplemodule::samplemodule_banner" title="Samplemodule Banner" translate="title"/>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Mygento_Samplemodule::config" title="Mygento Samplemodule" translate="title"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
