<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Mygento_SampleModule::sample_module" title="Sample Module" translate="title">
                    <resource id="Mygento_SampleModule::sample_module_customer_address" title="Sample Module Customer Address" translate="title"/>
                    <resource id="Mygento_SampleModule::sample_module_banner" title="Sample Module Banner" translate="title"/>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Mygento_SampleModule::config" title="Mygento_ Sample Module" translate="title"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
