<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Mygento\Samplemodule\Api\CustomeraddressRepositoryInterface" type="Mygento\Samplemodule\Model\CustomeraddressRepository"/>
    <preference for="Mygento\Samplemodule\Api\BannerRepositoryInterface" type="Mygento\Samplemodule\Model\BannerRepository"/>
    <preference for="Mygento\Samplemodule\Api\Data\CustomeraddressInterface" type="Mygento\Samplemodule\Model\Customeraddress"/>
    <preference for="Mygento\Samplemodule\Api\Data\BannerInterface" type="Mygento\Samplemodule\Model\Banner"/>
    <preference for="Mygento\Samplemodule\Api\Data\CustomeraddressSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
    <preference for="Mygento\Samplemodule\Api\Data\BannerSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
    <type name="Magento\Framework\Model\Entity\RepositoryFactory">
        <arguments>
            <argument name="entities" xsi:type="array">
                <item name="Mygento\Samplemodule\Api\Data\CustomeraddressInterface" xsi:type="string">Mygento\Samplemodule\Api\CustomeraddressRepositoryInterface</item>
                <item name="Mygento\Samplemodule\Api\Data\BannerInterface" xsi:type="string">Mygento\Samplemodule\Api\BannerRepositoryInterface</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="samplemodule_customeraddress_listing_data_source" xsi:type="string">Mygento\Samplemodule\Model\ResourceModel\Customeraddress\Grid\Collection</item>
                <item name="samplemodule_banner_listing_data_source" xsi:type="string">Mygento\Samplemodule\Model\ResourceModel\Banner\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Mygento\Samplemodule\Model\ResourceModel\Customeraddress\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">mygento_samplemodule_customeraddress</argument>
            <argument name="eventPrefix" xsi:type="string">samplemodule_customeraddress_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">customeraddress_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Mygento\Samplemodule\Model\ResourceModel\Customeraddress</argument>
        </arguments>
    </type>
    <type name="Mygento\Samplemodule\Model\ResourceModel\Banner\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">mygento_samplemodule_banner</argument>
            <argument name="eventPrefix" xsi:type="string">samplemodule_banner_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">banner_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Mygento\Samplemodule\Model\ResourceModel\Banner</argument>
        </arguments>
    </type>
</config>
