<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Mygento\SampleModule\Api\CustomerAddressRepositoryInterface" type="Mygento\SampleModule\Model\CustomerAddressRepository"/>
    <preference for="Mygento\SampleModule\Api\BannerRepositoryInterface" type="Mygento\SampleModule\Model\BannerRepository"/>
    <preference for="Mygento\SampleModule\Api\Data\CustomerAddressInterface" type="Mygento\SampleModule\Model\CustomerAddress"/>
    <preference for="Mygento\SampleModule\Api\Data\BannerInterface" type="Mygento\SampleModule\Model\Banner"/>
    <preference for="Mygento\SampleModule\Api\Data\CustomerAddressSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
    <preference for="Mygento\SampleModule\Api\Data\BannerSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
    <type name="Magento\Framework\Model\Entity\RepositoryFactory">
        <arguments>
            <argument name="entities" xsi:type="array">
                <item name="Mygento\SampleModule\Api\Data\CustomerAddressInterface" xsi:type="string">Mygento\SampleModule\Api\CustomerAddressRepositoryInterface</item>
                <item name="Mygento\SampleModule\Api\Data\BannerInterface" xsi:type="string">Mygento\SampleModule\Api\BannerRepositoryInterface</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Mygento\SampleModule\Model\SearchCriteria\BannerFilterProcessor" type="Magento\Framework\Api\SearchCriteria\CollectionProcessor\FilterProcessor">
        <arguments>
            <argument name="customFilters" xsi:type="array">
                <item name="store_id" xsi:type="object">Mygento\SampleModule\Model\SearchCriteria\BannerStoreFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Mygento\SampleModule\Model\SearchCriteria\CustomerAddressCollectionProcessor" type="Magento\Framework\Api\SearchCriteria\CollectionProcessor">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="filters" xsi:type="object">Magento\Framework\Api\SearchCriteria\CollectionProcessor\FilterProcessor</item>
                <item name="sorting" xsi:type="object">Magento\Framework\Api\SearchCriteria\CollectionProcessor\SortingProcessor</item>
                <item name="pagination" xsi:type="object">Magento\Framework\Api\SearchCriteria\CollectionProcessor\PaginationProcessor</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Mygento\SampleModule\Model\SearchCriteria\BannerCollectionProcessor" type="Magento\Framework\Api\SearchCriteria\CollectionProcessor">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="filters" xsi:type="object">Mygento\SampleModule\Model\SearchCriteria\BannerFilterProcessor</item>
                <item name="sorting" xsi:type="object">Magento\Framework\Api\SearchCriteria\CollectionProcessor\SortingProcessor</item>
                <item name="pagination" xsi:type="object">Magento\Framework\Api\SearchCriteria\CollectionProcessor\PaginationProcessor</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Mygento\SampleModule\Model\CustomerAddressRepository">
        <arguments>
            <argument name="collectionProcessor" xsi:type="object">Mygento\SampleModule\Model\SearchCriteria\CustomerAddressCollectionProcessor</argument>
        </arguments>
    </type>
    <type name="Mygento\SampleModule\Model\BannerRepository">
        <arguments>
            <argument name="collectionProcessor" xsi:type="object">Mygento\SampleModule\Model\SearchCriteria\BannerCollectionProcessor</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\EntityManager\MetadataPool">
        <arguments>
            <argument name="metadata" xsi:type="array">
                <item name="Mygento\SampleModule\Api\Data\BannerInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="string">mygento_sample_module_banner</item>
                    <item name="identifierField" xsi:type="string">id</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\EntityManager\Operation\ExtensionPool">
        <arguments>
            <argument name="extensionActions" xsi:type="array">
                <item name="Mygento\SampleModule\Api\Data\BannerInterface" xsi:type="array">
                    <item name="read" xsi:type="array">
                        <item name="storeReader" xsi:type="string">Mygento\SampleModule\Model\ResourceModel\Banner\Relation\Store\ReadHandler</item>
                    </item>
                    <item name="create" xsi:type="array">
                        <item name="storeCreator" xsi:type="string">Mygento\SampleModule\Model\ResourceModel\Banner\Relation\Store\SaveHandler</item>
                    </item>
                    <item name="update" xsi:type="array">
                        <item name="storeUpdater" xsi:type="string">Mygento\SampleModule\Model\ResourceModel\Banner\Relation\Store\SaveHandler</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\EntityManager\HydratorPool">
        <arguments>
            <argument name="hydrators" xsi:type="array">
                <item name="Mygento\SampleModule\Api\Data\BannerInterface" xsi:type="string">Magento\Framework\EntityManager\AbstractModelHydrator</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="sample_module_customeraddress_listing_data_source" xsi:type="string">Mygento\SampleModule\Model\ResourceModel\CustomerAddress\Grid\Collection</item>
                <item name="sample_module_banner_listing_data_source" xsi:type="string">Mygento\SampleModule\Model\ResourceModel\Banner\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Mygento\SampleModule\Model\ResourceModel\CustomerAddress\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">mygento_sample_module_customeraddress</argument>
            <argument name="eventPrefix" xsi:type="string">sample_module_customeraddress_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">customeraddress_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Mygento\SampleModule\Model\ResourceModel\CustomerAddress</argument>
        </arguments>
    </type>
    <type name="Mygento\SampleModule\Model\ResourceModel\Banner\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">mygento_sample_module_banner</argument>
            <argument name="eventPrefix" xsi:type="string">sample_module_banner_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">banner_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Mygento\SampleModule\Model\ResourceModel\Banner</argument>
        </arguments>
    </type>
</config>
