<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Mygento_SampleModule::root" title="Mygento Sample Module" translate="title">
                    <resource id="Mygento_SampleModule::columns" title="Sample Module Columns" translate="title"/>
                    <resource id="Mygento_SampleModule::cartitem" title="Sample Module Cart Item" translate="title"/>
                    <resource id="Mygento_SampleModule::obsolete" title="Sample Module Obsolete" translate="title"/>
                    <resource id="Mygento_SampleModule::card" title="Sample Module Card" translate="title"/>
                    <resource id="Mygento_SampleModule::ticket" title="Sample Module Ticket" translate="title"/>
                    <resource id="Mygento_SampleModule::poster" title="Sample Module Poster" translate="title"/>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Mygento_SampleModule::config" title="Mygento Sample Module" translate="title"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
